.album-card {
  flex: 0 0 150px;
  height: 210px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: 0 5px 20px;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.album-card:hover {
  transform: scale(1.02);
  background-color: #030f1a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.album-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}

.album-info {
  margin-top: 5px;
}

.album-title {
  font-size: 18px;
  color: #eedecf;
  margin-bottom: 4px;
  font-weight: bold;
}

.album-artist {
  font-size: 13px;
  color: #9ca3af;
}
