.album-card {
  border-radius: 10px;
  display: inline-block;
  flex: 0 0 150px;
  max-height: 250px;
  height: 250px;
  margin: 0 5px 20px;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: left;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.album-card:hover {
  transform: scale(1.02);
  background-color: #030f1a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.album-card img {
  width: 150px;
  height: 150px;
  border-radius: 5%;
  object-fit: cover;
  margin-bottom: 8px;
}

.album-title {
  font-size: 18px;
  color: #eedecf;
  margin-bottom: 4px;
  font-weight: 600;
}

.album-artist {
  font-size: 13px;
  color: #9ca3af;
}
