.artistDisplay {
  display: flex;
  padding-bottom: 13px;
  max-width: 350px;
}

.artistDisplay img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.artistDisplay .artistName {
  font-size: 32px;
  font-weight: 550;
  color: #ebded1;
}

.artistName {
  display: inline-block;
}

.artistName:hover .removeArtist {
  opacity: 1;
}

.removeArtist {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #585a5f;
  margin-bottom: 15px;
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.artistInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.artistInfo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.searchBox {
  background: transparent;
  border-radius: 40px;
  padding: 3px;
  transition: width 0.4s ease-in-out;
  border-color: 1px solid #e2dad4;
  display: flex;
  top: -4px;
  position: relative;
}

.searchButton {
  font-size: 18px;
  font-weight: 800;
  color: #666971;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  float: right;
  position: relative;
}

.searchButton:hover {
  cursor: pointer;
  filter: brightness(0.8);
  font-size: 18px;
  transition: 0.4s ease-in-out;
}

.searchBox:hover .searchInput,
.searchBox:focus-within .searchInput {
  width: 90px;
  padding: 0 6px;
  border-color: #e2dad4;
  border-width: 1px;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding-left: 0;
  color: rgb(172, 158, 158);
  font-size: 12px;
  transition: width 0.4s;
  width: 0px;
}

.dropdownContainer {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  z-index: 1000;
  width: 290px;
  border-radius: 10px;
  background-color: #030f1a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.dropdownItem {
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #e2dad4;
}

.artistImage {
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.dropdownItem:hover {
  background-color: #020910;
}

.selectedInstruments {
  background: transparent;
  display: flex;
  font-size: 11px;
  font-weight: 500;
  gap: 8px;
  margin-bottom: 10px;
}

.instrumentSearchContainer {
  flex-wrap: nowrap;
  white-space: nowrap;
  max-width: 100%;
  background: transparent;
  cursor: text;
  font-weight: 500;
  margin-top: -8px;
  display: flex;
  overflow-x: auto;
}

.instrumentSearchContainer::-webkit-scrollbar {
  height: 2px;
}

.instrumentChip {
  border-style: solid;
  border-width: 1px;
  bottom: 1px;
  align-items: center;
  border-radius: 18px;
  display: flex;
  font-size: 11px;
  padding: 1px 5px;
  flex-shrink: 0;
}

.instrumentChip span {
  margin-right: 8px;
}

.removeInstrument {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 2px;
}

.waveformContainer {
  display: flex;
  padding-left: 56px;
  width: 100%;
  height: 100%;
}
