.artistDisplay {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.artistDisplay img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.artistDisplay .artistName {
  font-size: 32px;
  font-weight: 500;
  color: #ebded1;
}

.artistInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.artistInfo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.instrumentSearchContainer {
  background: transparent;
  cursor: text;
  font-weight: 500;
  margin-top: -8px;
  display: flex;
}

.searchBox {
  background: transparent;
  border-radius: 40px;
  padding: 3px;
  transition: width 0.4s ease-in-out;
  border-color: 1px solid #e2dad4;
  display: flex;
  overflow: hidden;
}

.searchBox img {
  width: 50%;
  height: 50%;
}

.searchBox:hover img {
  cursor: pointer;
  filter: brightness(0.8);
}

.searchBox:hover .searchInput,
.searchBox:focus-within .searchInput {
  width: 150px;
  padding: 0 6px;
  border-color: #e2dad4;
  border-width: 1px;
}

.searchBox:hover .searchButton,
.searchBox:focus-within .searchButton {
  color: #e2dad4;
}

.searchButton {
  float: right;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border: none;
  background: none;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding-left: 0;
  color: rgb(172, 158, 158);
  font-size: 10px;
  transition: width 0.4s;
  /* line-height: 40px; */
  width: 0px;
  overflow: hidden;
}

.dropdownContainer {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  z-index: 1000;
  width: 290px;
  border-radius: 10px;
  background-color: #030f1a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.dropdownItem {
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.artistImage {
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.dropdownItem:hover {
  background-color: #020910;
}

.selectedInstruments {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  font-size: 11px;
  font-weight: 500;
  gap: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.removeArtist {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #9ca3af;
  margin-bottom: 15px;
  margin-left: 10px;
}

.instrumentChip {
  border-style: solid;
  align-items: center;
  border-radius: 18px;
  display: flex;
  font-size: 11px;
  padding: 2px 6px;
}

.instrumentChip span {
  margin-right: 8px;
}

.removeInstrument {
  background: none;
  border: none;
  color: #9ca3af;
  font-size: 16px;
  cursor: pointer;
}
