.track-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: 15px;
  transition: 0.2s ease-in-out;
  justify-content: space-between;
}

.track-clickable {
  display: flex;
}

.track-info {
  margin-left: 10px;
}

.track-title {
  font-size: 18px;
  color: #edddcf;
  font-weight: 600;
}

.track-artist {
  font-size: 14px;
  color: #9ca3af;
  font-weight: 450;
}

.track-length {
  font-size: 14px;
  min-width: 50px;
  color: #9ca3af;
  text-align: right;
}

.track-cover {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
}
