.search-page {
  padding: 20px;
  font-size: 18px;
}

.search-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.tracks-section,
.browse-all {
  margin-top: 20px;
}

.tracks-section {
  display: flex;
  gap: 20px;
}

.track-list {
  margin-top: 16px;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.browse-all-title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
  padding-bottom: 10px;
}

.browse-all {
  display: grid;
  gap: 20px;
  padding: 10px;
  background-color: #121212;
}
