.editContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  width: 93%;
  max-height: 400px;
  margin-bottom: 40px;
  overflow-y: auto;
  margin-left: 8px;
}

.artistSection {
  margin-left: 40px;
  flex: 1;
  max-width: 350px;
  height: auto;
}

.addArtist {
  border: #9ca3af;
  align-items: center;
  border-radius: 18px;
  border-style: solid;
  display: flex;
  font-size: 11px;
  padding: 3px 8px;
  background: transparent;
  color: #9ca3af;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
}

.artistRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
