.album-page {
  padding-top: 20px;
}

.album-header {
  display: flex;
  margin-bottom: 24px;
  align-items: flex-start; /* Ensure children take full height */
}

.album-content {
  display: flex;
  align-items: flex-end;
}

@media (min-width: 768px) {
  .album-header {
    flex-direction: row;
    align-items: flex-start;
  }
}

.album-cover-container {
  flex-shrink: 0;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .album-cover-container {
    margin-bottom: 0;
    margin-right: 40px;
    margin-left: 40px;
  }
}

.album-cover {
  width: 14rem;
  height: 14rem;
  border-radius: 3%;
}

@media (min-width: 768px) {
  .album-cover {
    width: 16rem;
    height: 16rem;
  }
}

.album-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Push text to bottom */
  flex-grow: 1; /* Fill available space */
}

.album-title {
  font-size: 4.5rem;
  font-weight: extra-bold;
  margin-bottom: 2px;
  color: #edddcf;
  position: relative;
}

.album-artist {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  margin-top: auto;
  font-size: 1.125rem;
  color: #9ca3af;
  position: relative;
}

.artist-image {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 8px;
}

.artist-link {
  color: inherit;
  text-decoration: none;
}

.artist-link:hover {
  text-decoration: underline;
}

.album-tracks {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  width: 100%;
}

.tracks-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
  color: #ebeedb;
}

.tracks-list {
  border-top: 1px solid #374151;
}

.track-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  position: relative;
}

.track-row:hover {
  background-color: #333;
}

.track-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.track-number {
  color: #9ca3af;
  width: 20px;
  text-align: right;
}

.track-title {
  font-size: 1rem;
  font-weight: 500;
  color: #edddcf;
  flex-grow: 1;
}

.track-length-container {
  display: flex;
  align-items: center;
}

.add-button {
  font-size: 1.25rem;
  cursor: pointer;
  color: #dbcbbd;
  transition: color 0.3s ease;
  padding-right: 100px;
}

.add-button:hover {
  color: #630d02;
}

.track-length {
  color: #dbcbbd;
}
