.album-page {
  padding-top: 20px;
}

.album-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .album-header {
    flex-direction: row;
    align-items: flex-start;
  }
}

.album-cover-container {
  flex-shrink: 0;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .album-cover-container {
    margin-bottom: 0;
    margin-right: 40px;
    margin-left: 40px;
  }
}

.album-cover {
  width: 12rem;
  height: 12rem;
  border-radius: 5%;
}

@media (min-width: 768px) {
  .album-cover {
    width: 16rem;
    height: 16rem;
  }
}

.album-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space between title and artist */
  height: 100%; /* Make the album-info container take the full height of the album cover */
}

.album-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2px;
  color: #dbe2ee;
}

.album-artist {
  margin-top: auto;
  font-size: 1.125rem;
  color: #9ca3af;
  margin-bottom: 8px;
}

.artist-link {
  color: #6c8abd;
  text-decoration: none;
}

.artist-link:hover {
  text-decoration: underline;
}

.album-tracks {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  width: 100%;
}

.tracks-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
  color: #dbe2ee;
}

.tracks-list {
  border-top: 1px solid #374151;
}

.track-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  position: relative;
}

.track-row:hover {
  background-color: #333;
}

.track-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.track-number {
  color: #9ca3af;
  width: 20px;
  text-align: right;
}

.track-title {
  font-size: 1rem;
  font-weight: 500;
}

.track-length-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.add-button {
  font-size: 1.25rem;
  cursor: pointer;
  color: #9ca3af;
  transition: color 0.3s ease;
  display: none;
}

.add-button:hover {
  color: #de5308;
}

.add-button:focus {
  outline: none;
}

.track-length {
  color: #9ca3af; /* Tailwind's gray-400 */
}
