.editContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  margin-left: 40px;
  gap: 90px;
}

.artist-section {
  flex: 1;
  max-width: 350px;
}

.waveform-section {
  flex: 2;
  width: 100%;
}

.dropdown-container {
  position: absolute;
  top: 40px;
  left: 0;
  width: 300px;
  background-color: rgb(49, 47, 47);
  border-radius: 10px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.dropdown-container.hidden {
  display: none;
}

.dropdown-container select {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 14px;
}

.save-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #45a049;
}

.track-page {
  padding-top: 30px;
}

.player-container {
  max-width: 100%;
  padding-top: 20px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.progress-wrapper {
  position: relative;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.progress-container {
  flex-grow: 1;
}

.progress-bar {
  width: 100%;
  height: 3px;
  border: 1px solid #d2d2d2;
  background: #020f20;
  border-radius: 9px;
  position: relative;
  cursor: pointer;
}

.progress {
  width: 10px;
  height: 10px;
  background: #a1a7bc;
  border-radius: 50%;
  position: absolute;
  top: -3.5px;
  left: 0;
  transform: translateX(-50%);
}

.current-time,
.duration {
  color: #d2d2d2;
  font-size: 14px;
}

.duration {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}

/* --------------- EDIT TABLE ----------------- */

.artist-info {
  width: 275px;
  display: flex;
  align-items: center;
}
.artist-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.waveform {
  flex-grow: 1;
  height: 20px;
  background: #555;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}
.waveform .solo {
  background: rgb(159, 133, 28);
  position: absolute;
  height: 100%;
}
.artist-search {
  margin: 10px;
  padding: 5px;
  width: 300px;
  border: none;
  border-bottom: 2px solid #c8cce4;
  background: transparent;
  color: #ebded1;
}

.artist-line {
  fill: none;
  stroke-width: 4;
  cursor: pointer;
}
.draggable {
  fill: orange;
  cursor: grab;
}

.artist-display {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.artist-display img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 10px;
}

.artist-display .artist-name {
  font-size: 32px;
  font-weight: 500;
  color: #ebded1;
}

.artist-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-instrument-button {
  margin-top: -8px;
  color: #9da3ae;
  cursor: pointer;
  font-weight: 500;
}

.add-instrument-button:hover {
  color: #818691;
}
