* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#main_splash {
  height: auto;
  width: auto;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  border: solid;
  border-width: 10px;
  border-color: #021220;
  background-color: #021220;
  height: 97vh;
  overflow-x: hidden;
}

@font-face {
  font-family: Clutchee;
  src: url("../fonts/clutchee.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

.bg_img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/bg_main.png");
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  overflow: auto;
}

.home_page {
  background-color: black;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  overflow: auto;
}

.header {
  background-color: black;
  height: 20%;
  width: 100%;
}

.homepage_header {
  background-color: #021220;
  height: 12%;
  width: 100%;
  display: block;
  border-color: #a5a5a5;
  border-width: 1px;
  border-bottom-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
}

.inner_header {
  height: 100%;
  display: block;
  margin-left: 40px;
  margin-right: 40px;
}

.logo_container h1 {
  color: #edddcf;
  font-family: "Clutchee", "Arial", sans-serif;
  font-size: 80px;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.logo_container div {
  height: 35%;
  display: table-cell;
  vertical-align: middle;
  margin-left: 80px;
  margin-top: 25px;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.searchBox {
  background: #021220;
  border-radius: 40px;
  padding: 5px;
  position: relative;
  transition: width 0.4s;
  border-color: #e2dad4;
  border-width: 1px;
}

.searchBox img {
  width: 50%;
  height: 50%;
}

.searchBox:hover .searchInput,
.searchBox:focus-within .searchInput {
  width: 240px;
  padding: 0 6px;
  border-color: #e2dad4;
  border-width: 1px;
}

.searchBox:hover .searchButton,
.searchBox:focus-within .searchButton {
  color: #e2dad4;
}

.searchButton {
  float: right;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding-left: 0;
  color: rgb(172, 158, 158);
  font-size: 16px;
  transition: width 0.4s;
  line-height: 40px;
  width: 0px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

.navigation {
  float: right;
  height: 100%;
  right: 40px;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 10px;
}

.navigation a:last-child {
  padding-right: 0;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  font-family: "Rethink Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #f6f1e0;
  font-size: 20px;
}

.home_page_body {
  /*background-color: white;*/
  height: 15%;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  overflow: auto;
  padding: 5px;
}

.home_page_body h1,
h3,
p {
  color: #edddcf;
}

#new_partition {
  background-color: red;
  height: 10%;
  width: 45%;
}

#new_partition h1 {
  font-family: "Rethink Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #edddcf;
  font-size: 30px;
  text-align: left;
}

#partition_info {
  background-color: green;
  height: 20%;
  width: 50%;
}

#partition_info h1 {
  font-family: "Rethink Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #edddcf;
  font-size: 30px;
  text-align: left;
}

#tracks {
  background-color: blue;
  height: 15%;
  width: 50%;
}

#tracks h1 {
  font-family: "Rethink Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #fbf1c7;
  font-size: 30px;
  text-align: left;
}

#jazzbud_title {
  font-family: "Clutchee", "Arial", sans-serif;
  font-size: 120px;
  /*font-weight: 600;*/
  color: #edddcf;
  padding-left: 60px;
  padding-bottom: 5px;
}

#homepage_title {
  font-family: "Clutchee", "Arial", sans-serif;
  font-size: 80px;
  /*font-weight: 600;*/
  color: #630d02;
  margin-left: 5px;
  /*padding-left: 60px;*/
  /*padding-bottom: 5px;*/
}

#jazzbud_desc {
  padding-top: 30px;
  font-family: "Rethink Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #edddcf;
  font-size: 30px;
}

#jazzbud_desc2 {
  padding-top: 200px;
  padding-bottom: 20px;
  font-family: "Rethink Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #f8f4e5;
  font-size: 25px;
}

#jazzbud_tagline {
  font-family: "Rethink Sans", "Arial", sans-serif;
  font-weight: 300;
  color: #fbf1c7;
  font-size: 60px;
}

.taglines {
  display: block;
  padding-left: 150px;
  padding-top: 30px;
  width: 100%;
  top: 0;
}

.splash_buttons {
  width: 100%;
  padding-left: 200px;
  bottom: 0;
}

/* --------- BUTTONS --------- */
#a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

#btn_homepage {
  float: right;
}

.btn:link,
.btn:visited,
input[type="submit"] {
  /*display: inline-block;*/
  padding: 10px 30px;
  margin-top: 20px;
  margin-right: 10px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  float: right;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  border: 1px solid #689d6a;
  background-color: #689d6a;
  color: #fff;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #689d6a;
  color: #689d6a;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #427b58;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #427b58;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #427b58;
  color: #fff;
}
