{% extends 'core/base.html' %} 
{% load static %} 
{% load custom_filters %} 

{%block title %} {{ album_title }} {% endblock %} 

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/album_page.css' %}">

<main class="album-page">
  <div class="album-header">
    <div class="album-cover-container">
      <img
        src="{{ album.cover }}"
        alt="{{ album.name }}"
        class="album-cover" />
    </div>
    <div class="album-info">
      <h1 class="album-title">{{ album.title }}</h1>
      <p class="album-artist">
        <a href="{% url 'artist_page' album.artist|custom_slugify album.artist_id %}" class="artist-link">
          {{ album.artist }}
        </a>
        &middot; {{ album.release_year }}
      </p>
    </div>


  <div class="album-tracks">
    <h2 class="tracks-title">Tracks</h2>
    <div class="tracks-list">
      <!-- Single Track Row -->
      {% for track in album.tracklist %}
      <div class="track-row">
        <div class="track-info">
          <div class="track-number">
            {{ track.track_number }}
          </div>
          <a
              href="{% url 'track_page' track.artist|custom_slugify track.title|custom_slugify track.spotify_song_id %}">
              <p class="track-title">{{track.title}}</p>
          </a>
        </div>
        <div class="track-length-container">
          <button class="add-button">+</button>
          <div class="track-length">
            {{ track.track_length|ms_to_minutes_seconds }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>

{% endblock %}
