{% extends 'core/base.html' %} {% load static %} {% block title %} Edit a
Partition {% endblock %} {% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/album_page.css' %}" />

<div class="track-header">
  <div class="album-cover-container">
    <img src="{{ track.cover }}" alt="{{ track.name }}" class="album-cover" />
  </div>
  <div class="album-info">
    <h1 class="album-title">{{ track.title }}</h1>
    <p class="album-artist">
      <a
        href="{% url 'artist_page' track.artist|custom_slugify track.artist_id %}"
        class="artist-link">
        {{ track.artist }}
      </a>
      &middot; {{ track.release_year }}
    </p>
  </div>
</div>

<div class="editContainer">
  <table class="artistTable">
    <tr style="display: none">
      <td><input type="text" placeholder="Enter text" /></td>
    </tr>
    <tr>
      <td><input type="text" placeholder="Enter text" /></td>
    </tr>
    <tr>
      <td><input type="text" placeholder="Enter text" /></td>
    </tr>
    <tr>
      <td><input type="text" placeholder="Enter text" /></td>
    </tr>
    <tr>
      <td><input type="text" placeholder="Enter text" /></td>
    </tr>
  </table>

  <table class="editTable">
    <tr id="headers">
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
    </tr>
    <tr>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
    </tr>
    <tr>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
    </tr>
    <tr>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
    </tr>
    <tr>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
      <td><input type="text" placeholder="Enter text" /></td>
    </tr>
  </table>
</div>
{% endblock %}
