

{% extends 'core/base.html' %}
{% load static %}
{% block title %}Search{% endblock %}
{% block content %}

<style>
  body {
      color: white;
      font-size: 18px;
  }
  h1, h2 {
      color: white;
  }
  ul {
      list-style-type: none;
      padding: 0;
  }
  li {
      background: #333;
      margin: 5px 0;
      padding: 10px;
      border: 1px solid #555;
  }
</style>

<h1>Search Results for "{{ query }}"</h1>

<h2>Tracks</h2>
<ul>
    {% if tracks %}
        {% for track in tracks %}
            <li>{{ track.title }} by {{ track.artist }}</li>
        {% endfor %}
    {% else %}
        <li>No tracks found</li>
    {% endif %}
</ul>

<h2>Albums</h2>
<ul>
    {% if albums %}
        {% for album in albums %}
            <li>{{ album.title }} by {{ album.artist }}</li>
        {% endfor %}
    {% else %}
        <li>No albums found</li>
    {% endif %}
</ul>

<h2>Artists</h2>
<ul>
    {% if artists %}
        {% for artist in artists %}
            <li>{{ artist.name }}</li>
        {% endfor %}
    {% else %}
        <li>No artists found</li>
    {% endif %}
</ul>

{% endblock %}
