#main_splash {
    height: auto;
    width: auto;
}
html, body {
    height: 100%;
    width: 100%;
}
.bg_img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url("../../../resources/img/bg_crop1.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    overflow: auto;
}

#jazzbud_desc {
    padding-top: 80px;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 30px;
}

#jazzbud_desc2 {
    padding-top: 120px;
    padding-bottom: 20px;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 25px;
}

#jazzbud_tagline {
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 60px;
}

.taglines {
    display: block;
    padding-left: 200px;
    padding-top: 100px;
    width: 100%;
    top: 0;
}

.splash_buttons {
    width: 100%;
    padding-left: 200px;
    bottom: 0;
}


/* --------- BUTTONS --------- */
.btn:link, 
.btn:visited,
input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    border: 1px solid #e67e22;
    background-color: #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}