{% extends 'core/base.html' %} 
{% load static %} 
{% load custom_filters %} 

{%block title %} {{ album_title }} {% endblock %} 

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/album_page.css' %}">

<main class="track-edit">
  <div class="track-header">
    <div class="album-cover-container">
      <img
        src="{{ album.cover }}"
        alt="{{ album.name }}"
        class="album-cover" />
    </div>
    <div class="album-info">
      <h1 class="album-title">{{ album.title }}</h1>
      <p class="album-artist">
        <a href="{% url 'artist_page' album.artist|custom_slugify album.artist_id %}" class="artist-link">
          {{ album.artist }}
        </a>
        &middot; {{ album.release_year }}
      </p>
    </div>


  <div class="album-tracks">
    <h2 class="tracks-title">Tracks</h2>
    <div class="tracks-list">
      <!-- Single Track Row -->
      {% for track in album.tracklist %}
      <div class="track-row">
        <div class="track-info">
          <div class="track-number">
            {{ track.track_number }}
          </div>
          <div class="track-title">
            {{ track.title }}
          </div>
        </div>
        <div class="track-length-container">
          <button class="add-button">+</button>
          <div class="track-length">
            {{ track.track_length|ms_to_minutes_seconds }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>

{% endblock %}


<style>
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-item {
    padding: 12px 16px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  
  #search-input:focus + .dropdown-content {
    display: block;
  }

  /* <input type="text" id="search-input" placeholder="Search for artists...">
  <div id="dropdown" class="dropdown-content"></div>

  document.getElementById('search-input').addEventListener('input', function() {
  const query = this.value;
  if (query.length > 2) {  // Start searching after 3 characters
      fetch(`/search?query=${query}&type=artist&limit=2`)
          .then(response => response.json())
          .then(data => {
              const dropdown = document.getElementById('dropdown');
              dropdown.innerHTML = '';
              data.forEach(artist => {
                  const item = document.createElement('div');
                  item.className = 'dropdown-item';
                  item.textContent = artist.name;
                  dropdown.appendChild(item);
              });
          });
  }
  }); */
</style>